<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(13.031963, 77.564270);
		var myOptions = {
			zoom: 13,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

var heatmap_points = [
new google.maps.LatLng(13.080384, 77.531951),
new google.maps.LatLng(13.080384, 77.531951),
new google.maps.LatLng(13.080384, 77.531951),
new google.maps.LatLng(13.107333, 77.566062),
new google.maps.LatLng(13.107333, 77.566062),
new google.maps.LatLng(13.105849, 77.564629),
new google.maps.LatLng(13.031706, 77.565378),
new google.maps.LatLng(12.943788, 77.568073),
new google.maps.LatLng(12.943782, 77.568063),
];

var pointArray = new google.maps.MVCArray(heatmap_points);
var heatmap;
heatmap = new google.maps.visualization.HeatmapLayer({

data: pointArray
});
heatmap.setMap(map);
heatmap.set('threshold', 10);
heatmap.set('radius', 10);
heatmap.set('opacity', 0.600000);
heatmap.set('dissipating', true);
	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
